<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title qw-c="operationname">修改子女个人信息</title>
    <!-- Favicon icon -->
    <!-- Custom Stylesheet -->
    <link href="/static/houtai/static/css/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/houtai/static/css/style.css" rel="stylesheet">
</head>
<body>
<!--*******************
  Preloader start
********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
  Preloader end
********************-->
<!--**********************************
  Main wrapper start
***********************************-->
<div id="main-wrapper">
    <!--**********************************
                 Nav header start
             ***********************************-->
    <div class="nav-header">
          <a class="brand-logo" href="#"> <span
                style="color: white; font-size: 30px;margin-left: 45px;white-space: nowrap">健康检测系统</span> </a>
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
    <!--**********************************
                 Nav header end
             ***********************************-->
    <!--**********************************
                 Header start
             ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown notification_dropdown"><a class="nav-link bell ai-icon"
                                                                               data-toggle="dropdown" href="#"
                                                                               role="button">
                            <svg class="feather feather-bell" fill="none" height="20" id="icon-user"
                                 stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                 viewbox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
                            </svg>
                        </a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
                 Header end ti-comment-alt
             ***********************************-->
    <!--**********************************
                 Sidebar start
             ***********************************-->
    <div class="dlabnav">
        <div class="dlabnav-scroll">

            {% include "xitong/htmenu.html" %}

        </div>
    </div>
    <!--**********************************
                 Sidebar end
             ***********************************-->
    <!--**********************************
                 Content body start
             ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4 qw-c="operationname">修改子女个人信息</h4>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card" qw-c="pagecontent">
                        <div class="card-header">
                            <h4 class="card-title" qw-c="operationname">修改子女个人信息</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form action="{% url 'loginAndRegist:zinvupdategerenxinxiact' %}" class="form-valide"
                                      method="post" qw-c="operationform" enctype="multipart/form-data">
                                    <!-- 保存当前修改子女的id，从session中获取 -->
                                    <input type='text' name='id' style='display:none;' value="{{ request.session.id }}">
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">名字</label>
                                        <div class="col-lg-6">
                                            <!--  定义name输入框，并从session中取值  -->

                                            <input value="{{ request.session.name }}" name="name" class="form-control"
                                                   qw-c="forminput">
                                        </div>
                                    </div>
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">账号</label>
                                        <div class="col-lg-6">
                                            <!--  定义usernameinput，将session中的账号赋值给input  -->

                                            <input readonly value="{{ request.session.username }}" name="username"
                                                   class="form-control" qw-c="forminput">
                                        </div>
                                    </div>
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">密码</label>
                                        <div class="col-lg-6">
                                            <!--  定义password输入框，并从session中取值  -->

                                            <input value="{{ request.session.password }}" name="password"
                                                   class="form-control" qw-c="forminput">
                                        </div>
                                    </div>
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">性别</label>
                                        <div class="col-lg-6">
                                            <!--  定义sex输入框，并从session中取值  -->

                                            <input value="{{ request.session.sex }}" name="sex" class="form-control"
                                                   qw-c="forminput">
                                        </div>
                                    </div>
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">电话</label>
                                        <div class="col-lg-6">
                                            <!--  定义tel输入框，并从session中取值  -->

                                            <input value="{{ request.session.tel }}" name="tel" class="form-control"
                                                   qw-c="forminput">
                                        </div>
                                    </div>
                                    <div class="form-group row" qw-c="forminputcomponent">
                                        <label class="col-lg-4 col-form-label" for="val-username" qw-c="forminputtext">头像</label>
                                        <div class="col-lg-6">
                                            <!--  定义pic输入框，并从session中取值  -->

                                            <input value="{{ request.session.pic }}" name="pic" class="form-control"
                                                   qw-c="forminput">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <button class="btn btn-primary" qw-c="operationbutton"
                                                    type="submit">修改
                                            </button>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
                 Content body end
             ***********************************-->
    <!--**********************************
                 Footer start
             ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>健康检测系统</p>
        </div>
    </div>
    <!--**********************************
                 Footer end
             ***********************************-->
    <!--**********************************
                Support ticket button start
             ***********************************-->
    <!--**********************************
                Support ticket button end
             ***********************************-->
</div>
<!--**********************************
  Main wrapper end
***********************************-->
<!--**********************************
  Scripts
***********************************-->
<!-- Required vendors -->
<script src="/static/houtai/static/js/global.min.js"></script>
<script src="/static/houtai/static/js/bootstrap-select.min.js"></script>
<script src="/static/houtai/static/js/custom.min.js"></script>
<script src="/static/houtai/static/js/dlabnav-init.js"></script>
<!-- Jquery Validation -->
<script src="/static/houtai/static/js/jquery.validate.min.js"></script>
<!-- Form validate init -->
<script src="/static/houtai/static/js/jquery.validate-init.js"></script>
<!-- Svganimation scripts -->
<script src="/static/houtai/static/js/vivus.min.js"></script>
<script src="/static/houtai/static/js/svg.animation.js"></script>
<script src="/static/houtai/static/js/styleSwitcher.js"></script>
<script>
    if ("") {
        alert("");
    }
</script>
</body>
</html>


